<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="eyeVinaConnectInfo" connectionString="Server = .; Database = WEB_SHOP_HT; UID = sa; PWD = success;"/>
  </connectionStrings>

  
    <system.web>
      <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,:,\,?" />
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    
</configuration>
