USE [PHARMACY]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACCESS_AUTH_INSERT_UPDATE]    Script Date: 7/21/2016 1:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ACCESS_AUTH_INSERT_UPDATE]
 @P_USERNAME VARCHAR(15)
,@P_SCR_ID VARCHAR(100)
,@P_SCR_TAG VARCHAR(100)
,@P_RETRIEVE_YN VARCHAR(1)
,@P_CLEAR_YN VARCHAR(1)
,@P_CREATE_YN VARCHAR(1)
,@P_INSERT_YN VARCHAR(1)
,@P_UPDATE_YN VARCHAR(1)
,@P_DELETE_YN VARCHAR(1)
,@P_IMPORT_YN VARCHAR(1)
,@P_EXPORT_YN VARCHAR(1)
,@P_PRINT_YN VARCHAR(1)
,@P_UPDATE_CD VARCHAR(1)
AS
	BEGIN
		IF  NOT EXISTS(SELECT 1 FROM TB_ACCESS_AUTH WHERE USERNAME = @P_USERNAME AND SCR_ID = @P_SCR_ID AND SCR_TAG = @P_SCR_TAG)
				INSERT INTO TB_ACCESS_AUTH (USERNAME,SCR_ID,SCR_TAG,RETRIEVE_YN,CLEAR_YN,CREATE_YN,INSERT_YN,UPDATE_YN,DELETE_YN,IMPORT_YN,EXPORT_YN,PRINT_YN,UPDATE_CD,UPDATE_TIME)
				VALUES(
					 @P_USERNAME
					,@P_SCR_ID
					,@P_SCR_TAG
					,ISNULL(@P_RETRIEVE_YN,'N')
					,ISNULL(@P_CLEAR_YN,'N')
					,ISNULL(@P_CREATE_YN,'N')
					,ISNULL(@P_INSERT_YN,'N')
					,ISNULL(@P_UPDATE_YN,'N')
					,ISNULL(@P_DELETE_YN,'N')
					,ISNULL(@P_IMPORT_YN,'N')
					,ISNULL(@P_EXPORT_YN,'N')
					,ISNULL(@P_PRINT_YN,'N')
					,ISNULL(@P_UPDATE_CD,'SYSTEM')
					,GETDATE()
				);
		ELSE
			UPDATE TB_ACCESS_AUTH SET
				RETRIEVE_YN = ISNULL(@P_RETRIEVE_YN,'N')
				,CLEAR_YN = ISNULL(@P_CLEAR_YN,'N')
				,CREATE_YN = ISNULL(@P_CREATE_YN,'N')
				,INSERT_YN = ISNULL(@P_INSERT_YN,'N')
				,UPDATE_YN = ISNULL(@P_UPDATE_YN,'N')
				,DELETE_YN = ISNULL(@P_DELETE_YN,'N')
				,IMPORT_YN = ISNULL(@P_IMPORT_YN,'N')
				,EXPORT_YN = ISNULL(@P_EXPORT_YN,'N')
				,PRINT_YN = ISNULL(@P_PRINT_YN,'N')
				,UPDATE_CD = ISNULL(@P_UPDATE_CD,'SYSTEM')
				,UPDATE_TIME = GETDATE()
			WHERE USERNAME = @P_USERNAME AND SCR_ID = @P_SCR_ID AND SCR_TAG = @P_SCR_TAG
				
		IF @@ROWCOUNT > 0
			SELECT ERR_CODE = 'S';
		ELSE
			SELECT ERR_CODE = 'E';
	END;